In [29]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
sports = pd.read_excel('./Toughest Sport by Skill.xlsx')

In [3]:
money = pd.read_csv('./Forbes Richest Atheletes (Forbes Richest Athletes 1990-2020).csv')

In [4]:
sports.head()

,Sport,Endurance,Strength,Power,Speed,Agility,Flexibility,Nerve,Durability,Hand-Eye Coordination,Analytical Aptitude,Total,Rank
0,Boxing,8.63,8.13,8.63,6.38,6.25,4.38,8.88,8.50,7.00,5.63,72.375,1
1,Ice Hockey,7.25,7.13,7.88,7.75,7.63,4.88,6.00,8.25,7.50,7.50,71.750,2
2,Football,5.38,8.63,8.13,7.13,6.38,4.38,7.25,8.50,5.50,7.13,68.375,3
3,Basketball,7.38,6.25,6.50,7.25,8.13,5.63,4.13,7.75,7.50,7.38,67.875,4
4,Wrestling,6.63,8.38,7.13,5.13,6.38,7.50,5.00,6.75,4.25,6.38,63.500,5

In [6]:
money.head()

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0

## Data exploration

Let's explore first the sports dataset

In [8]:
sports.isna().sum()

Sport                    0
Endurance                0
Strength                 0
Power                    0
Speed                    0
Agility                  0
Flexibility              0
Nerve                    0
Durability               0
Hand-Eye Coordination    0
Analytical Aptitude      0
Total                    0
Rank                     0
dtype: int64

In [9]:
# no nulls aparently

In [11]:
sports.dtypes

Sport                     object
Endurance                float64
Strength                 float64
Power                    float64
Speed                    float64
Agility                  float64
Flexibility              float64
Nerve                    float64
Durability               float64
Hand-Eye Coordination    float64
Analytical Aptitude      float64
Total                    float64
Rank                       int64
dtype: object

In [14]:
sports.Sport.unique()

array(['Boxing', 'Ice Hockey', 'Football', 'Basketball', 'Wrestling',
       'Martial Arts', 'Tennis', 'Gymnastics', 'Baseball/Softball',
       'Soccer', 'Skiing: Alpine', 'Water Polo', 'Rugby', 'Lacrosse',
       'Rodeo: Steer Wrestling', 'Track and Field: Pole Vault',
       'Field Hockey', 'Speed Skating', 'Figure Skating',
       'Cycling: Distance', 'Volleyball', 'Racquetball/Squash', 'Surfing',
       'Fencing', 'Skiing: Freestyle', 'Team Handball',
       'Cycling: Sprints', 'Bobsledding/Luge', 'Ski Jumping', 'Badminton',
       'Skiing: Nordic', 'Auto Racing', 'Track and Field: High Jump',
       'Track and Field: Long, Triple jumps', 'Diving',
       'Swimming (all strokes): Distance', 'Skateboarding',
       'Track and Field: Sprints', 'Rowing', 'Rodeo: Calf Roping',
       'Track and Field: Distance', 'Rodeo: Bull/Bareback/Bronc Riding',
       'Track and Field: Middle Distance', 'Weight-Lifting',
       'Swimming (all strokes): Sprints', 'Water Skiing', 'Table Tennis',
       'Track and Field: Weights', 'Canoe/Kayak', 'Horse Racing', 'Golf',
       'Cheerleading', 'Roller Skating', 'Equestrian', 'Archery',
       'Curling', 'Bowling', 'Shooting', 'Billiards', 'Fishing'],
      dtype=object)

Let's explore the money dataset

In [15]:
money.sample()

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
124,125,Shaq O'Neal,USA,4,5,Basketball,2003,30.5

In [16]:
money.isna().sum()

S.NO                     0
Name                     0
Nationality              0
Current Rank             0
Previous Year Rank      24
Sport                    0
Year                     0
earnings ($ million)     0
dtype: int64

In [17]:
# do we really care about the previous rank year? NO  we just really want to see the modality, the year and the earnings

In [20]:
money.drop('Previous Year Rank', axis = 1, inplace = True)

In [22]:
money.isna().sum()

S.NO                    0
Name                    0
Nationality             0
Current Rank            0
Sport                   0
Year                    0
earnings ($ million)    0
dtype: int64

In [24]:
money.dtypes

S.NO                      int64
Name                     object
Nationality              object
Current Rank              int64
Sport                    object
Year                      int64
earnings ($ million)    float64
dtype: object

In [25]:
money.Sport.unique()

array(['boxing', 'auto racing', 'golf', 'basketball', 'Basketball',
       'Boxing', 'Auto Racing', 'Golf', 'Tennis', 'NFL', 'Auto racing',
       'NBA', 'Baseball', 'Ice Hockey', 'American Football / Baseball',
       'tennis', 'ice hockey', 'F1 Motorsports', 'NASCAR', 'Hockey',
       'Auto Racing (Nascar)', 'F1 racing', 'American Football', 'soccer',
       'baseball', 'cycling', 'motorcycle gp', 'Soccer', 'MMA'],
      dtype=object)

In [28]:
money.Sport.value_counts()

Basketball                      54
Boxing                          29
basketball                      27
Golf                            24
Soccer                          22
golf                            20
Tennis                          18
boxing                          17
American Football               17
soccer                          11
Auto Racing                     10
F1 racing                        8
auto racing                      7
tennis                           5
F1 Motorsports                   5
motorcycle gp                    4
NFL                              3
Baseball                         3
NASCAR                           3
baseball                         3
Ice Hockey                       2
Auto Racing (Nascar)             2
cycling                          1
American Football / Baseball     1
Hockey                           1
ice hockey                       1
NBA                              1
Auto racing                      1
MMA                              1
Name: Sport, dtype: int64

In [30]:
len(money.Sport.unique())

29

In [31]:
# the length, after grouping should be less (duh)

We have to group the same sports together, for example all the hockeys in one, all the auto racings, basketball with NBA... all that kind of stuff

In [32]:
money.Sport = money.Sport.str.replace('golf', 'Golf')

In [33]:
money.Sport = money.Sport.str.replace('NBA', 'Basketball')

In [34]:
money.Sport = money.Sport.str.replace('basketball', 'Basketball')

In [35]:
money.Sport = money.Sport.str.replace('auto racing', 'Auto Racing')

In [36]:
money.Sport = money.Sport.str.replace('Auto racing', 'Auto Racing')

In [37]:
money.Sport = money.Sport.str.replace('soccer', 'Soccer')

In [38]:
money.Sport = money.Sport.str.replace('F1 racing', 'Auto Racing')

In [39]:
money.Sport = money.Sport.str.replace('F1 Motorsports', 'Auto Racing')

In [40]:
money.Sport = money.Sport.str.replace('NFL', 'American Football')

In [43]:
money.Sport = money.Sport.str.replace('baseball', 'Baseball')

In [44]:
money.Sport = money.Sport.str.replace('Ice Hockey', 'Hockey')

In [45]:
money.Sport = money.Sport.str.replace('ice hockey', 'Hockey')

In [46]:
money.Sport = money.Sport.str.replace('boxing', 'Boxing')

In [47]:
money.Sport = money.Sport.str.replace('tennis', 'Tennis')

In [49]:
money.Sport = money.Sport.str.replace('American Football / Baseball', 'Baseball')

In [50]:
money.Sport = money.Sport.str.replace('motorcycle gp', 'Moto GP')

In [51]:
money.Sport = money.Sport.str.replace('cycling', 'Cycling')

In [60]:
money.Sport = money.Sport.str.replace('Auto Racing (/Nascar/)', 'NASCAR', regex = True)

In [61]:
money.Sport.value_counts()

Basketball              82
Boxing                  46
Golf                    44
Soccer                  33
Auto Racing             31
Tennis                  23
American Football       20
Baseball                 7
Hockey                   4
Moto GP                  4
NASCAR                   3
Auto Racing (Nascar)     2
Cycling                  1
MMA                      1
Name: Sport, dtype: int64